---
requests:
  base_url: "https://petharbor.com/"
  tracking_url: "https://petharbor.com/results.asp?searchtype=ADOPT&start=1&nopod=1&grid=1&friends=0&samaritans=1&nosuccess=1&orderby=Age&rows=96&imght=120&imgres=Detail&tWidth=300&view=sysadm.v_animal_short&nobreedreq=1&nomax=1&nocustom=1&bgcolor=4daa50&text=ffffff&link=ffffff&alink=ffffff&vlink=ffffff&fontface=Times%20New%20Roman&fontsize=12&col_hdr_bg=83577d&col_hdr_fg=ffffff&col_bg=83577d&col_bg2=83577d&col_fg=ffffff&SBG=ffffff&miles=20&shelterlist=%27Ames%27&atype=&where=type_CAT&PAGE=1"
  fetch_timeout: 10  # [s]
  fetch_attempts: 5
  fetch_sleep: 5  # [s]
...